.card-container {
    margin-top: 35px;
	padding: 15px;
	background-color: #F5F4F4;
	min-width: 350px;
	max-width: 600px;
	height: auto;
	border-radius: 14px;
	box-shadow: 4px 4px 4px #888888;
	
}

header {
	background-color: #62D2A2;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}