@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #62d2a2;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 89%;
    width: 59px;
    height: 59px;
    bottom: -59px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 61%;
    width: 77px;
    height: 77px;
    bottom: -77px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 52%;
    width: 54px;
    height: 54px;
    bottom: -54px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 5%;
    width: 230px;
    height: 230px;
    bottom: -230px;
    animation-delay: 6s;
}
.background li:nth-child(4) {
    left: 13%;
    width: 220px;
    height: 220px;
    bottom: -220px;
    animation-delay: 11s;
}
.background li:nth-child(5) {
    left: 58%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 1s;
}
.background li:nth-child(6) {
    left: 88%;
    width: 258px;
    height: 258px;
    bottom: -258px;
    animation-delay: 4s;
}
.background li:nth-child(7) {
    left: 7%;
    width: 71px;
    height: 71px;
    bottom: -71px;
    animation-delay: 19s;
}
.background li:nth-child(8) {
    left: 44%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 2s;
}
.background li:nth-child(9) {
    left: 61%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 35s;
}
.background li:nth-child(10) {
    left: 41%;
    width: 94px;
    height: 94px;
    bottom: -94px;
    animation-delay: 1s;
}
.background li:nth-child(11) {
    left: 23%;
    width: 267px;
    height: 267px;
    bottom: -267px;
    animation-delay: 3s;
}
.background li:nth-child(12) {
    left: 42%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 26s;
}
.background li:nth-child(13) {
    left: 85%;
    width: 52px;
    height: 52px;
    bottom: -52px;
    animation-delay: 54s;
}
.background li:nth-child(14) {
    left: 27%;
    width: 222px;
    height: 222px;
    bottom: -222px;
    animation-delay: 53s;
}
.background li:nth-child(15) {
    left: 78%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 13s;
}
.background li:nth-child(16) {
    left: 36%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 1s;
}
.background li:nth-child(17) {
    left: 39%;
    width: 61px;
    height: 61px;
    bottom: -61px;
    animation-delay: 84s;
}
.background li:nth-child(18) {
    left: 63%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 8s;
}
.background li:nth-child(19) {
    left: 83%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 56s;
}
.background li:nth-child(20) {
    left: 33%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 65s;
}
.background li:nth-child(21) {
    left: 9%;
    width: 203px;
    height: 203px;
    bottom: -203px;
    animation-delay: 61s;
}
.background li:nth-child(22) {
    left: 20%;
    width: 230px;
    height: 230px;
    bottom: -230px;
    animation-delay: 79s;
}
.background li:nth-child(23) {
    left: 6%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 83s;
}
.background li:nth-child(24) {
    left: 84%;
    width: 233px;
    height: 233px;
    bottom: -233px;
    animation-delay: 114s;
}
.background li:nth-child(25) {
    left: 72%;
    width: 92px;
    height: 92px;
    bottom: -92px;
    animation-delay: 46s;
}
.background li:nth-child(26) {
    left: 78%;
    width: 235px;
    height: 235px;
    bottom: -235px;
    animation-delay: 83s;
}
.background li:nth-child(27) {
    left: 34%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 121s;
}
.background li:nth-child(28) {
    left: 40%;
    width: 98px;
    height: 98px;
    bottom: -98px;
    animation-delay: 99s;
}
.background li:nth-child(29) {
    left: 87%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 51s;
}
.background li:nth-child(30) {
    left: 89%;
    width: 150px;
    height: 150px;
    bottom: -150px;
    animation-delay: 89s;
}
.background li:nth-child(31) {
    left: 36%;
    width: 273px;
    height: 273px;
    bottom: -273px;
    animation-delay: 101s;
}
.background li:nth-child(32) {
    left: 7%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 143s;
}
.background li:nth-child(33) {
    left: 2%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 156s;
}
.background li:nth-child(34) {
    left: 9%;
    width: 84px;
    height: 84px;
    bottom: -84px;
    animation-delay: 99s;
}
.background li:nth-child(35) {
    left: 15%;
    width: 232px;
    height: 232px;
    bottom: -232px;
    animation-delay: 35s;
}
.background li:nth-child(36) {
    left: 83%;
    width: 74px;
    height: 74px;
    bottom: -74px;
    animation-delay: 89s;
}
.background li:nth-child(37) {
    left: 67%;
    width: 143px;
    height: 143px;
    bottom: -143px;
    animation-delay: 173s;
}
.background li:nth-child(38) {
    left: 40%;
    width: 259px;
    height: 259px;
    bottom: -259px;
    animation-delay: 94s;
}
.background li:nth-child(39) {
    left: 39%;
    width: 204px;
    height: 204px;
    bottom: -204px;
    animation-delay: 169s;
}
.background li:nth-child(40) {
    left: 68%;
    width: 280px;
    height: 280px;
    bottom: -280px;
    animation-delay: 22s;
}
.background li:nth-child(41) {
    left: 58%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 29s;
}
.background li:nth-child(42) {
    left: 38%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 63s;
}